html{
  font-size: 6.5vw;
}

.name {
  font-weight: 500;
  font-style: normal;
  letter-spacing: 12px;
  font-family: 'Comic Neue', cursive;
  font-size: 1.1rem;
}

.programmingImg{
  padding:5% 10%;
}

.hasegawaImg {
  border-radius: 50%;
  background-image: url("../img/hasegawa.jpg");
  width: 350px;
  height: 350px;
  background-size: cover;
}

p {
  font-size: 0.3rem;
  margin-bottom: 0;
}

li {
  font-size: 0.5rem;
}

.explanation{
  font-size:0.2rem;
}

a {
  text-decoration:none;
  color: #212529;
}

a:hover{
  text-decoration: underline;
}

.contents {
  /* max-width: 100%; */
  width: 300px;
  height: 300px;
  object-fit: cover;
}

@media screen and (max-width:992px){
  .hasegawaImg{
    width: 200px;
    height: 200px;
    margin-bottom: 5%;
  }

  .fab{
    font-size: 2rem;
  }

  .contents{
    width: 200px;
    height: 200px;
  }

  .explanation{
    padding: 0 2%;
  }
};
