body{
  padding-top: 11%;
}

h5{
  font-size: 5vw;
  padding-top: 10%;
}

naV, .navbar-brand{
  font-size: 2vw;
}

nav a{
  margin-left: 5%;
}

p {
  font-size: 2vw;
  margin-bottom: 0;
}

a {
  text-decoration:none;
}

a:hover{
  text-decoration: underline;
  color: purple;
}

.name {
  font-weight: 500;
  font-style: normal;
  letter-spacing: 12px;
  font-family: 'Comic Neue', cursive;
  font-size: 5vw;
}

.programmingImg{
  padding:5% 10%;
}

.hasegawaImg {
  border-radius: 50%;
  background-image: url("../img/hasegawa.jpg");
  width: 350px;
  height: 350px;
  background-size: cover;
}

.list-inline-item a{
  color: white;
}

.contents {
  width: 300px;
  height: 300px;
  object-fit: cover;
}

.far, .fab{
  font-size: 13vw;
}

.copyright{
  font-size: 2vw;
}

@media screen and (max-width:767px){
  naV, .navbar-brand{
    font-size: 4vw;
  }

  .hasegawaImg{
    width: 200px;
    height: 200px;
    margin-bottom: 5%;
  }

  p{
    font-size: 3vw;
  }

  h5{
    font-size: 9vw;
  }

  .contents{
    width: 200px;
    height: 200px;
  }
};